[Unit]
Description=Ulanzi D200h - Ensure current profile
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cp -T %h/.config/ulanzi/config.yaml %h/.config/ulanzi/_current.yaml
RemainAfterExit=yes

[Install]
WantedBy=default.target
